<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Bucket Application</h1>
        <form action="{{ url_for('logout') }}" method="post" style="float:right">
            <button class="waves-effect waves-light btn purple darken-1" type="submit">Log out</button>
        </form>

        <p>Add items to the bucket</p>

        <div class="row">
            <form class="col s12" action="{{ url_for('add_item') }}" method="post" autocomplete="off">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="item" id="new_item" type="text" class="validate" name="new_item" autofocus>
                        <label for="new_item">New item</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right"></i>
                </button>
            </form>
        </div>

        <div>
            <h2 style="display: inline">Your Bucket</h2>

            {% if bucket %}
                <form action="{{ url_for('clear') }}" method="post" style="float:right">
                    <button class="waves-effect waves-light btn red lighten-2" type="submit">Clear bucket</button>
                </form>
                <form action="{{ url_for('shuffle_bucket') }}" method="post" style="float:right">
                    <button class="waves-effect waves-light btn blue lighten-2" type="submit">Shuffle bucket</button>
                </form>
            {% endif %}
        </div>


        {% if bucket %}
            <ol>
                {% for item in bucket %}
                    <li style="height: 50px;">
                        <form action="{{ url_for('remove_item') }}" method="post" style="margin-left: 20px; margin-right: 20px; display:inline">
                            <input type="text" name="item-to-remove" value="{{ item }}" hidden>
                            <button class="wwaves-effect waves-light btn red lighten-2" type="submit">X</button>
                        </form>

                        {{ item }}

                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>Bucket is empty</p>
        {% endif %}

    </div>

</body>
</html>